__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store

/models/
/raw_data/
/data/*
!/data/forget.json
!/data/forget_safe_answer.jsonl
!/data/forget_safe_cot.jsonl
!/data/retain.json
/outputs/
*.pt
*.safetensors
*.log
